*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0f172a;
color:#fff;
padding:15px;
}

.container{
max-width:1200px;
margin:auto;
}

header{
text-align:center;
margin-bottom:20px;
}

header h1{
color:#38bdf8;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
margin-bottom:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
text-align:center;
}

.card span{
display:block;
margin-top:10px;
font-size:24px;
font-weight:bold;
color:#38bdf8;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.box{
background:#1e293b;
padding:20px;
border-radius:15px;
margin-bottom:20px;
}

.box h2{
margin-bottom:15px;
color:#38bdf8;
}

input{
width:100%;
padding:12px;
margin-bottom:10px;
border:none;
border-radius:8px;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#2563eb;
color:white;
cursor:pointer;
}

button:hover{
opacity:.9;
}

.danger{
background:#dc2626;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#2563eb;
}

th,td{
padding:12px;
text-align:center;
}

tr:nth-child(even){
background:#334155;
}

@media(max-width:768px){

.grid{
grid-template-columns:1fr;
}

.cards{
grid-template-columns:1fr;
}

}

